<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WindowsFormsApplication3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <WindowsFormsApplication3.Properties.Settings>
            <setting name="WindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="AlwaysOnTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CraftItemX" serializeAs="String">
                <value>332</value>
            </setting>
            <setting name="CraftItemY" serializeAs="String">
                <value>584</value>
            </setting>
            <setting name="FusingX" serializeAs="String">
                <value>141</value>
            </setting>
            <setting name="FusingY" serializeAs="String">
                <value>557</value>
            </setting>
            <setting name="ChromaticX" serializeAs="String">
                <value>210</value>
            </setting>
            <setting name="ChromaticY" serializeAs="String">
                <value>558</value>
            </setting>
            <setting name="JewellerX" serializeAs="String">
                <value>73</value>
            </setting>
            <setting name="JewellerY" serializeAs="String">
                <value>556</value>
            </setting>
            <setting name="AddedDelay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShiftClickFix" serializeAs="String">
                <value>False</value>
            </setting>
        </WindowsFormsApplication3.Properties.Settings>
    </userSettings>
</configuration>